:host {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100vw;
    height: 100vh;

  }
  
  ::ng-deep * {
      
    margin: 0;
    padding: 0;
  }

  .app-root {
    display: flex;
    height: 100vh; /* 100% of the viewport height */
  }
  
  .app-content {
    display: flex;
    width: 100%;
    overflow: hidden; /* Hide overflow content */
  }
  
