<div class="agenda">
    <div ngbAccordion>
        <h1>{{meeting[1]}}</h1>
        <hr class="dark-red">
        <div class="agenda-header mb-3">
            <h3>Adicionar pauta</h3>
            <app-create-agendas></app-create-agendas>
        </div>
        <div class="agenda-list" *ngFor="let agenda of agendas;">
            <div class="list">
                <p>{{ agenda[0] }}</p>
                <i class="bi bi-eye-fill" style="cursor: pointer;" (click)="openPDF(agenda[2])"></i>
            </div>
        </div>
        <p class="h2 text-danger" *ngIf="agendas.length == 0">Nenhuma pauta foi adicionada</p>
    </div>
</div>