.accordion {
    width: inherit;
    border: none;
}

.accordion h1 {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 20px;
}

.accordion h2 {
    font-size: 34px;
    margin-bottom: 0;
}

.accordion h3 {
    font-family: "Roboto", sans-serif;
}

.accordion-item .accordion-button {
    border-radius: 0.375rem;
    border-color: #dee2e6;
    border-width: 1px;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 0.375rem;

}

.home .wrapper .reunion-section {
    margin: 0 30px;
}

.collapsable-card {
    background: #EFEFEF;
    padding: 30px;
}

.dark-red {
    background: #650000;
}

hr.dark-red {
    color: #650000;
    height: 3px;
    opacity: 1;
}

/* Estilo da seta para baixo */
.bi-chevron-down::before {
    content: "\e5bd";
    /* Código Unicode para a seta para baixo */
    font-family: "Bootstrap Icons";
    /* Fonte dos ícones do Bootstrap */
    transform: rotate(0deg);
}

/* Estilo da seta para cima */
.bi-chevron-up::before {
    content: "\e5be";
    /* Código Unicode para a seta para cima */
    font-family: "Bootstrap Icons";
    transform: rotate(180deg);
}

.bi-eye {
    font-size: 24px; /* Tamanho do ícone */
    color: #007bff; /* Cor do ícone */
}

.accordion-item {
    background: #EFEFEF;
}

.accordion-button:is(.collapsed){
    background-color: inherit;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
    box-shadow: none;
}

.list {
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.list p {
    margin-bottom: 0; 
    padding: none;
    font-size: 20px;
}

.list i {
    font-size: 28px;
    color: #000000;
}

.agenda-list:last-child {
    margin-bottom: -20px;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z'/%3e%3c/svg%3e");
    transform: var(--bs-accordion-btn-icon-transform);
}

.agenda-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.agenda-header button {
    background: #650000;
    font-size: 16px;
    font-family: Roboto;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    color: white;
}