<div class="modal fade" id="add-pending-modal" tabindex="-1" role="dialog"
    aria-labelledby="add-pending-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-pending-modal-label">Adicionar pendência</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3 text-start">
                    <label for="basic-url" class="form-label">Comentário: </label>
                    <div class="input-group">
                        <textarea class="form-control" id="pending-comment" style="height: 100px"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="updatePendingComment()">Enviar</button>
            </div>
        </div>
    </div>
</div>