.navbar {
  background-color: #ECEFF1;
  color: #fff;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: max(250px,20%);
  height: 100vh;
  align-items: center;
  padding: 0px 20px;
  position: fixed;
  z-index: 2000;
}

.nav-bar * {
  font-family: "Roboto", sans-serif;
}

h1.simple-text {
  font-size: 30px;
}


.navbar-logo img {
  max-width: 80%;
  height: auto;
  margin: auto;
  margin-top: 80%;
  margin-left: 10%;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
}

/* Início */

.nav-item {
  margin-left: 50 auto;
  text-align: center;
}



.nav-item a {
  color: #000;
  text-decoration: none;
}

.nav-item a.active {
  font-weight: bold;
}

.button-nav {
  background-color: #A7A9AC;
  width: 90%;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}

.simple-text {
  color: black;
  text-align: center;
}

.role-text {
  color: white;
  text-align: center;
  background-color: #C90019;
  border-radius: 10px;
  margin: 0 auto;
  padding: 5px 30px;
}

.bi::before {
  font-weight: bold !important;
}