.navbar {
  background-color: #ECEFF1;
  color: #fff;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 20%;
  min-width: 300px;
  height: 100vh;
  align-items: center;
  padding: 0px 20px;
  padding-top: 10%;
  position: fixed;
  z-index: 2000;
}

.navbar-logo img {
  max-width: 80%;
  height: auto;
  /* margin-right: 10%; */
  margin: auto;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

/* Início */

.nav-item {
  margin-left: 50 auto;
  text-align: center;
}



.nav-item a {
  color: #000;
  text-decoration: none;
}

.nav-item a.active {
  font-weight: bold;
}

.button-nav {
  background-color: #A7A9AC;
  width: 90%;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}

.simple-text {
  color: black;
  text-align: center;
}

.role-text {
  height: 15%;
  width: 70%;
  color: white;
  text-align: center;
  background-color: #C90019;
  border-radius: 10px;
  margin: 0 auto;
}