.navbar {
    background-color: #696F85;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 20px;
  }
  
  .navbar-logo img {
    max-width: 80%; 
    height: auto; 
    margin-right: 10%;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item a {
    color: #000;
    text-decoration: none;
  }
  
  .nav-item a.active {
    font-weight: bold;
  }
  