<div class="agenda">
    <div ngbAccordion [closeOthers]="true">
        <h1>Próximas Reuniões</h1>
        <hr class="dark-red">
        <app-request-agenda></app-request-agenda>
        <add-pending></add-pending>
        <div ngbAccordionItem *ngFor="let meeting of upcomingMeetings">
            <button ngbAccordionButton>
                <h2>REUNIÃO DE {{ meeting.date }}</h2>
            </button>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div class="agenda-header">
                            <h3>Pautas</h3>
                            <button *ngIf="userType" [routerLink]="[ '/meeting', meeting.id]" class="preferences dark-red">Preferências</button>
                            <button *ngIf="userType == false" type="button" class="preferences dark-red" (click)="updateCurrentMeetingId(meeting.id)"  data-bs-toggle="modal" data-bs-target="#request-agenda-modal">Solicitar pauta</button>
                        </div>
                        <hr class="dark-red">
                        <div *ngFor="let pendingAgenda of pendingAgendas">
                            <!-- Chefia -->
                            <div *ngIf="userType">
                                <!-- const [titulo, reuniao_id, documento, aprovado, comentario, pauta_id] = pendingAgenda -->
                                <ng-container *ngIf="meeting.id === pendingAgenda[1]">
                                    <div class="pendint-list py-3">
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <div class="agenda-title">{{pendingAgenda[0]}}</div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="mb-2">Documento:</div>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                                            {{pendingAgenda[2]}}
                                                            <h4 class="m-0"><i class="bi bi-eye-fill" style="cursor: pointer;" (click)="openPDF(pendingAgenda)"></i></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex flex-row-reverse">
                                                <button type="button" class="btn btn-danger ms-3">Aprovar</button>
                                                <button type="button" class="btn btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#add-pending-modal">
                                                    Solicitar documentos
                                                </button>
                                                <button type="button" class="btn btn-danger">Rejeitar</button>
                                            </div>
                                        </div>
                                    </div>  
                                </ng-container>
                            </div>
                            <!-- Discente -->
                            <div *ngIf="userType == false">
                                <!-- const [titulo, reuniao_id, documento, aprovado, comentario, pauta_id] = pendingAgenda -->
                                <ng-container *ngIf="meeting.id === pendingAgenda[1]">
                                    <div class="pendint-list py-3">
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <div class="agenda-title">{{pendingAgenda[0]}}</div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                Status: 
                                                <span class="badge bg-warning">Pendente</span>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="mb-2">Documento:</div>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between">
                                                            {{pendingAgenda[2]}}
                                                            <h4 class="m-0"><i class="bi bi-eye-fill" style="cursor: pointer;" (click)="openPDF(pendingAgenda)"></i></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="mb-2">Cometário:</div>
                                                <div class="card" style="background: #D9D9D9;">
                                                    <div class="card-body">
                                                        {{pendingAgenda[4]}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3 text-start">
                                                <label for="agenda-files" class="form-label">Arquivo:</label>
                                                <input class="form-control" type="file" id="request-agenda-files" name="request-agenda-files">
                                            </div>
                                            <div class="col-12 d-flex flex-row-reverse">
                                                <button type="button" class="btn btn-danger">Enviar</button>
                                            </div>
                                        </div>
                                    </div>  
                                </ng-container>
                            </div>
                        </div>
                        <div class="agenda-list" *ngFor="let agenda of agendas">
                            <ng-container *ngIf="meeting.id === agenda[1]">
                                <div class="list">
                                    <p>{{ agenda[0] }}</p>
                                    <i class="bi bi-eye-fill" style="cursor: pointer;" (click)="openPDF(agenda)"></i>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div ngbAccordion [closeOthers]="true" style="margin-top: 40px;">
        <h1>Reuniões Passadas</h1>
        <hr class="dark-red">
        <div ngbAccordionItem *ngFor="let meeting of pastMeetings">
            <button ngbAccordionButton>
                <h2>REUNIÃO DE {{ meeting.date }}</h2>
            </button>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div class="agenda-header">
                            <h3>Pautas</h3>
                            <button *ngIf="userType" [routerLink]="[ '/meeting', meeting.id]" class="preferences dark-red">Preferências</button>
                        </div>
                        <hr class="dark-red">
                        <div class="agenda-list" *ngFor="let agenda of agendas">
                            <ng-container *ngIf="meeting.id === agenda[1]">
                                <div class="list">
                                    <p>{{ agenda[0] }}</p>
                                    <i class="bi bi-eye-fill" style="cursor: pointer;" (click)="openPDF(agenda[2])"></i>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>