{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Pessoa {% endblock %}</h1>
    <form method="post">
        <p>
            <label for="nome">Nome</label>
            <input type="text" name="nome"
                   placeholder="Nome da pessoa">
            </input>
        </p>

        <p>
            <label for="role">Cargo</label>
            <input type="text" name="role"
                   placeholder="Cargo do usuario">
            </input>
        </p>

        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}