.nav-item {
    margin-right: 0 auto
  }
  
  .nav-item a {
    color: #000;
    text-decoration: none;

  }
  
  .nav-item a.active {
    font-weight: bold;
    text-align: center;  
  }
  
  .button-nav {
    background-color: #A7A9AC;
   
    color: #000;
    border: none;
    text-align: center;  
    cursor: pointer;
    /* margin: 0 auto ; */
  }
  